@use "../../styles/config/_spaces" as *;

:host {

  .content-wrapper {
    display: grid;
    grid-template-areas:
        "header  header"
        "navbar content"
        "footer  footer";
    grid-template-columns: 250px 1fr;
    grid-template-rows: 7rem 1fr 40px;
    gap: $size-m;
    height: 100vh;
    padding: $size-m;
    box-sizing: border-box;

    .grid-area-header {
      grid-area: header;
    }

    .grid-area-navbar {
      grid-area: navbar;
    }

    .grid-area-content {
      grid-area: content;
    }

    .grid-area-footer {
      grid-area: footer;
    }
  }

}
