@use "../../styles" as *;

:host {

  .content-wrapper {
    @media (max-width: $mobile-layout) {
      grid-template-areas:
        "navbar"
        "content"
        "footer";
      grid-template-columns: 100%;
      grid-template-rows: 4rem 1fr 3rem;
      padding: $size-xxs;
      gap: $size-xxs;
    }

    @media (min-width: $mobile-layout) {
      grid-template-areas:
        "header  header"
        "navbar content"
        "footer  footer";
      grid-template-columns: 20% 1fr;
      grid-template-rows: 7rem 1fr 3rem;
      gap: $size-m;
      padding: $size-m;
    }

    display: grid;
    height: 100vh;
    box-sizing: border-box;

    .grid-area-header {
      grid-area: header;
    }

    .grid-area-navbar {
      grid-area: navbar;
    }

    .grid-area-content {
      grid-area: content;
    }

    .grid-area-footer {
      grid-area: footer;
    }
  }

}
