.content-wrapper {
  display: grid;
  grid-template-areas:
    "header"
    "navbar"
    "content"
    "footer";

  .grid-area-header {
    grid-area: header;
  }

  .grid-area-navbar {
    grid-area: navbar;
  }

  .grid-area-content {
    grid-area: content;
  }

  .grid-area-footer {
    grid-area: footer;
  }
}
