@use "sass:math";

//Spaces

$size-default: 1rem;

$size-xxxs: 0.125 * $size-default;
$size-xxs: 0.25 * $size-default;
$size-xs: 0.5 * $size-default;
$size-s: 0.75 * $size-default;
$size-m: 1 * $size-default;
$size-l: 1.5 * $size-default;
$size-xl: 2 * $size-default;
$size-xxl: 3 * $size-default;
$size-xxxl: 4 * $size-default;
$size-xxxxl: 5 * $size-default;
