@use '../../../styles' as *;

:host {
  app-panel {
    display: flex;
    height: 100%;

    .wrapper {
      width: 100%;
      gap: $size-xxs;

      //mobile
      @media (max-width: $mobile-layout) {
        display: grid;
        grid-template-areas:
      "header"
      "controls"
      "output";
        grid-template-columns: 100%;
        grid-template-rows: auto;
      }

      //desktop
      @media(min-width: $mobile-layout) {
        display: grid;
        height: 100%;
        grid-template-areas:
      "header header"
      "controls output";
        grid-template-columns: 30% auto;
        grid-template-rows: 10% 90%;
      }

      .header {
        grid-area: header;
      }

      .controls {
        flex-direction: column;
        grid-area: controls;
        justify-content: center;
        align-items: center;
        display: flex;
        gap: $size-xxs;

        .config {
          display: flex;
          width: 100%;
          height: 100%;
          gap: $size-xxs;

          //mobile
          @media(max-width: $mobile-layout) {
            flex-direction: row;
          }

          //desktop
          @media(min-width: $mobile-layout) {
            flex-direction: column;
          }

          .control-pairing {
            gap: $size-xxs;
            width: 100%;
            display: flex;
            flex-direction: column;
          }
        }
      }

      .output {
        grid-area: output;
        border: 1px solid black;
        min-height: $size-default;
      }
    }
  }
}
