@use '../../../styles' as *;

:host {
  app-panel {
    @media (max-width: $mobile-layout) {
      height: 100rm;

      .wrapper {
        grid-template-areas:
      "header"
      "controls"
      "output";
      }
    }

    @media(min-width: $mobile-layout) {
      height: 12rem;
      width: 36rem;

      .wrapper {
        grid-template-areas:
      "header header"
      "controls output";
        grid-template-columns: 30% 70%;
        grid-template-rows: 10% 90%;
      }
    }


    display: flex;

    .wrapper {
      display: grid;
      width: 100%;

      .header {
        grid-area: header;
      }

      .controls {
        grid-area: controls;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: $size-xxs;
      }

      .output {
        grid-area: output;
        border: 1px solid black;
      }
    }
  }
}
