@use '../../styles' as *;

:host {
  .content-wrapper {

    .categories {
      display: flex;
      flex-direction: row;
      gap: 0;
      border: 1px solid black;
      padding: 0;

      .category-button {
        border: none;
        border-right: 1px solid black;
        cursor: pointer;
      }

      button.active {
        cursor: unset;
        background-color: #333333 ;
        color: white;
      }
    }
  }
}
