<div class="content-wrapper">
  <h2>Compendium</h2>
  <p>Informations on the different components of the Conquest System.</p>
  <div class="card-wrapper">
    <app-tile
      [route]="'test'"
    ></app-tile>
    <app-tile
      [route]="'test'"
    ></app-tile>
    <app-tile
      [route]="'test'"
    ></app-tile>
    <app-tile
      [route]="'test'"
    ></app-tile>
    <app-tile
      [route]="'test'"
    ></app-tile>
    <app-tile
      [route]="'test'"
    ></app-tile>
    <app-tile
      [route]="'test'"
    ></app-tile>
  </div>
</div>
