@use '../../../../../styles' as *;


:host {
  .button {
    width: 100%;
    text-align: center;
    padding: 10px;
    cursor: pointer;
  }

  .button:hover {
  }

  .active {
    pointer-events: none;
    cursor: default;
    background-color: unset;
    border: none;
  }
}
